.img-responsive {
  width: 100% !important;
  max-height: 350px !important;
}

.media-body textarea {
  resize: none !important;
}

.status p {
  font-size: 12px !important;
}

.social-avatar.comment-text {
  padding: 15px 15px 15px 15px !important;
}

.title-container {
  font-size: 35px !important;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.btn-tag {
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.like-on {
  color: #18a689 !important;
}

.dislike-on {
  color: #ed5565 !important;
}

.comment-textbox:empty:not(:focus):before {
  content: attr(data-text);
}

.comment-textbox {
  max-height: 100px !important;
  min-height: 100px !important;
  overflow-y: auto;
}

.subcomment-textbox {
  min-height: 50px !important;
  overflow-y: auto;
}

.subcomment-textbox:empty:not(:focus):before {
  content: attr(data-text);
}

.p-d-0 {
    max-height: 0px !important;
}

.b-panel {
    background: #fff;
    width: 80%;
    margin: -95px 10px 4px 80px;
    padding-top: 15px;
    padding-bottom: 15;
    box-shadow: 1px 3px 5px 0px #cacaca;
    position: absolute;
}

.c-panel {
    padding-top: 73px !important;
    margin-top: -23px;
}

.blog-author {
  font-size: 15px;
}

.dropdown-comment {
  top: 45% !important;
}