.img-responsive {
  width: 100% !important;
  max-height: 350px !important;
}

.media-body textarea {
  resize: none !important;
}

.status p {
  font-size: 12px !important;
}

.social-avatar.comment-text {
  padding: 15px 15px 15px 15px !important;
}

.title-container {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.btn-tag {
  margin-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.like-on {
  color: #18a689 !important;
}

.dislike-on {
  color: #ed5565 !important;
}

.comment-textbox:empty:not(:focus):before {
  content: attr(data-text);
}

.comment-textbox {
  max-height: 100px !important;
  min-height: 100px !important;
  overflow-y: auto;
}