.img-responsive {
  width: 100% !important;
  max-height: 350px !important;
}

.media-body textarea {
  resize: none !important;
}

.status p {
  font-size: 12px !important;
}

.social-avatar.comment-text {
  padding: 15px 15px 15px 15px !important;
}

.btn-tag {
  margin-right: 5px;
}

.like-on {
  color: #18a689 !important;
}

.dislike-on {
  color: #ed5565 !important;
}