.img-responsive {
  width: 100% !important;
  min-height: 250px !important;
  max-height: 250px !important;
}

.modal-lg {
  width: 900px !important;
}

.product-name {
  font-size: 20px !important;
}

.product-imitation {
  padding: 0px !important;
}
