body {
  margin-top: 60px;
}

@media (max-width: 768px) {
	.app-search {
    display: none;
	}
}

@media (max-width: 350px) {
  .nav.navbar-top-links li.dropdown {
    display: inline-block !important;
  }  

  .navbar-header .logo {
    font-size: 25px !important;
    margin-top: 10px !important;
  }
}

.navbar-fixed-top {
	background: #ffffff;
	border-bottom: 1px solid #18a689 !important;
}

.icon {
  font-size: 18px !important;
}

.icon:hover {
  color: #18a689;
}

.app-search .form-control, .app-search .form-control:focus {
  border: 1px solid #18a689 !important;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 40px;
  margin-top: 3px;
  background: #ffffff;
  box-shadow: none;
  border-radius: 30px;
  width: 280px;
}

.app-search {
  position: relative;
  margin: 8px 0px 0px 10px;
  float: left;
}

.app-search a {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #18a689;
}

.logo {
	font-size: 35px !important;
  font-weight: 800;
  letter-spacing: -3px;
  float: left;
  color: #18a689;
  margin-left: 20px;
	margin-right: 20px;
}

.logo:hover {
  color: #0b866d;
}

.user-photo {
  width: 65px;
  margin-right: 10px;
}

.navbar-top-links .dropdown-messages {
  width: 400px !important;
}

.navbar-top-links .dropdown-messages li a {
  padding: 3px 0px !important;
}

.notifi-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0px 10px;
}