.ibox-content {
  border-color: #18a689 !important;
  border-width: 1px 0 !important;
}

.like-on {
  color: #18a689 !important;
}

.dislike-on {
  color: #ed5565 !important;
}

.title-container, .description-container {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.btn-tag {
  margin-right: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slider {
	margin-top: 30px !important;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}