.like-on {
  color: #18a689 !important;
}

.dislike-on {
  color: #ed5565 !important;
}

.ibox-title {
	border-color: white !important;
	border-width: 1px 0 0 !important;
}

.ibox-title.blog-content {
	border-color: #e7eaec !important;
	border-width: 1px 0 0 !important;
}

.ibox.blog-posts {
	border: 1px solid #e7eaec !important;
}

.btn-tag {
  margin-right: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-container, .description-container {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
