.like-on {
  color: #18a689 !important;
}

.dislike-on {
  color: #ed5565 !important;
}

.ibox-content {
    min-height: 150px;
}
.ibox-title {
	border-color: white !important;
	border-width: 1px 0 0 !important;
}

.ibox-title.blog-content {
	border-color: #e7eaec !important;
	border-width: 1px 0 0 !important;
}

.ibox.blog-posts {
	border: 1px solid #e7eaec !important;
}

.btn-tag {
  margin-right: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-container, .description-container {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.lgbg {
  width: 100%;
}

.p-l-r-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.p-t-b-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.image-container {
    opacity:10 !important;
    background-color: #000000;
    z-index:10;
}

.img-blog {
  opacity: 0.5 !important;
  background-color: #000000;
  z-index:10;
}



h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  position: absolute;
  top: 36% !important;
  left: 50%;
}

h2 {
  margin: 0;
  font-size: 2rem;
  white-space: nowrap;
  position: absolute;
  top: 40% !important;
  left: 43%;
  color: #ffffff;
  font-weight: 500;
}

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../img/p1.jpg);
  background-size: cover;
  height: 40vh;
}

.img-blog:hover {
 -webkit-filter: blur(5px) brightness(50%); 
  opacity: 0.6 !important;
 transition: 0.5s filter linear;
-webkit-transition: 0.5s;
-moz-transition: 0.5s -moz-filter linear;
-ms-transition: 0.5s -ms-filter linear;
-o-transition: 0.5s -o-filter linear;

}
.hover h1 {
   color: #ffffff;
}

.img-profile {
  max-width: 175px !important;
  max-height: 175px !important;
  position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marg-r {
  margin-right: 7px;
}